@charset "UTF-8";
body {
	overflow-x: hidden;
}
.fade-in {
	opacity: 0;
	transition: opacity 200ms ease-in;
}
.fade-in.appear {
	opacity: 1;
}

.from-bottom {
	opacity: 0;
	transform-origin: right;
	transform: translateY(50%);
}
.from-bottom {
	transition: opacity 300ms ease-in, 600ms ease-in;
}
.from-bottom.appear {
	opacity: 1;
	transform: translateY(0);
}
